$colors: (
  'deepskyblue': #00bfff,
  'darkcyan': #008b8b,
  'dark': #23262d
);

.g .box {
  color: #fff;
  background: map-get($colors, 'dark');
}

.color-primary {
  color: map-get($colors, 'deepskyblue');
}

.bg-g {
  background: linear-gradient(to right, #ec407a , map-get($colors, 'deepskyblue'))
}
